In [1]:
# Modules
import os
import csv
import pandas as pd

In [2]:
# Make a reference to the books.csv file path
csv_path = "data/profiles2.csv"

# Import the profiles2.csv file as a DataFrame
profiles_df = pd.read_csv(csv_path, encoding="utf-8")
profiles_df.head()

,age,body_type,diet,drinks,education,essay3,essay5,essay7,essay8,essay9,height,job,location,pets,religion,sex,sign,speaks
0,22,a little extra,strictly anything,socially,working on college/university,"the way i look. i am a six foot half asian, ha...",food.<br />\nwater.<br />\ncell phone.<br />\n...,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet!<br />\nyou...,75,transportation,"south san francisco, california",likes dogs and likes cats,agnosticism and very serious about it,m,gemini,english
1,35,average,mostly other,often,working on space camp,NaN,delicious porkness in all of its glories.<br /...,NaN,i am very open and will share just about anyth...,NaN,70,hospitality / travel,"oakland, california",likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,"english (fluently), spanish (poorly), french (..."
2,38,thin,anything,socially,graduated from masters program,my large jaw and large glasses are the physica...,movement<br />\nconversation<br />\ncreation<b...,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ...",68,NaN,"san francisco, california",has cats,NaN,m,pisces but it doesn&rsquo;t matter,"english, french, c++"
3,23,thin,vegetarian,socially,working on college/university,socially awkward but i do my best,NaN,NaN,NaN,you feel so inclined.,71,student,"berkeley, california",likes cats,NaN,m,pisces,"english, german (poorly)"
4,29,athletic,NaN,socially,graduated from college/university,i smile a lot and my inquisitive nature,NaN,NaN,NaN,NaN,66,artistic / musical / writer,"san francisco, california",likes dogs and likes cats,NaN,m,aquarius,english

In [4]:
profiles_df["pets"].value_counts()

likes dogs and likes cats          14813
likes dogs                          7224
likes dogs and has cats             4313
has dogs                            4133
has dogs and likes cats             2333
likes dogs and dislikes cats        2029
has dogs and has cats               1474
has cats                            1406
likes cats                          1063
has dogs and dislikes cats           552
dislikes dogs and likes cats         240
dislikes dogs and dislikes cats      196
dislikes cats                        122
dislikes dogs and has cats            81
dislikes dogs                         44
single                                 1
Name: pets, dtype: int64

In [5]:
profiles_df['pets']=profiles_df['pets'].replace(
    {'likes dogs and has cats': 'likes both', 'has dogs': 'likes dogs','has dogs and likes cats':'likes both','likes dogs and dislikes cats':'likes dogs','likes dogs and dislikes cats':'likes dogs','has dogs and has cats':'likes both','has cats':'likes cats','has dogs and dislikes cats':'likes dogs','dislikes dogs and likes cats':'likes cats','dislikes dogs and has cats':'likes cats','likes dogs and likes cats':'likes both'})

In [6]:
profiles_df['pets']=profiles_df['pets'].replace(
    {'dislikes dogs and dislikes cats': 'other','dislikes cats':'other','dislikes dogs':'other','single':'other'})

In [6]:
profiles_df['pets'].value_counts()

likes both    22933
likes dogs    13938
likes cats     2790
                363
Name: pets, dtype: int64

In [7]:
# Drop all rows with missing information
profiles_df['pets'] = profiles_df['pets'].dropna(how='any')

In [8]:
profiles_df['pets'].value_counts()

likes both    22933
likes dogs    13938
likes cats     2790
other           363
Name: pets, dtype: int64

In [25]:
profiles_df.head()

,age,body_type,diet,drinks,education,essay3,essay5,essay7,essay8,essay9,height,job,location,pets,religion,sex,sign,speaks
0,22,a little extra,strictly anything,socially,working on college/university,"the way i look. i am a six foot half asian, ha...",food.<br />\nwater.<br />\ncell phone.<br />\n...,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet!<br />\nyou...,75,transportation,"south san francisco, california",likes both,agnosticism and very serious about it,m,gemini,english
1,35,average,mostly other,often,working on space camp,NaN,delicious porkness in all of its glories.<br /...,NaN,i am very open and will share just about anyth...,NaN,70,hospitality / travel,"oakland, california",likes both,agnosticism but not too serious about it,m,cancer,"english (fluently), spanish (poorly), french (..."
2,38,thin,anything,socially,graduated from masters program,my large jaw and large glasses are the physica...,movement<br />\nconversation<br />\ncreation<b...,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ...",68,NaN,"san francisco, california",likes cats,NaN,m,pisces but it doesn&rsquo;t matter,"english, french, c++"
3,23,thin,vegetarian,socially,working on college/university,socially awkward but i do my best,NaN,NaN,NaN,you feel so inclined.,71,student,"berkeley, california",likes cats,NaN,m,pisces,"english, german (poorly)"
4,29,athletic,NaN,socially,graduated from college/university,i smile a lot and my inquisitive nature,NaN,NaN,NaN,NaN,66,artistic / musical / writer,"san francisco, california",likes both,NaN,m,aquarius,english

,age,body_type,diet,drinks,education,essay3,essay5,essay7,essay8,essay9,height,job,location,pets,religion,sex,sign,speaks
0,22,a little extra,strictly anything,socially,working on college/university,"the way i look. i am a six foot half asian, ha...",food.<br />\nwater.<br />\ncell phone.<br />\n...,trying to find someone to hang out with. i am ...,i am new to california and looking for someone...,you want to be swept off your feet!<br />\nyou...,75,transportation,"south san francisco, california",likes both,agnosticism and very serious about it,m,gemini,english
1,35,average,mostly other,often,working on space camp,NaN,delicious porkness in all of its glories.<br /...,NaN,i am very open and will share just about anyth...,NaN,70,hospitality / travel,"oakland, california",likes both,agnosticism but not too serious about it,m,cancer,"english (fluently), spanish (poorly), french (..."
2,38,thin,anything,socially,graduated from masters program,my large jaw and large glasses are the physica...,movement<br />\nconversation<br />\ncreation<b...,viewing. listening. dancing. talking. drinking...,"when i was five years old, i was known as ""the...","you are bright, open, intense, silly, ironic, ...",68,NaN,"san francisco, california",likes cats,NaN,m,pisces but it doesn&rsquo;t matter,"english, french, c++"
3,23,thin,vegetarian,socially,working on college/university,socially awkward but i do my best,NaN,NaN,NaN,you feel so inclined.,71,student,"berkeley, california",likes cats,NaN,m,pisces,"english, german (poorly)"
4,29,athletic,NaN,socially,graduated from college/university,i smile a lot and my inquisitive nature,NaN,NaN,NaN,NaN,66,artistic / musical / writer,"san francisco, california",likes both,NaN,m,aquarius,english

In [2]:
job_df=profiles_df[["job","pets"]]
job_df.head()

NameError: name 'profiles_df' is not defined

In [3]:
clean_job_df = job_df.dropna(how='any')
clean_job_df.head()

NameError: name 'job_df' is not defined

In [4]:
clean_job_df["pets"].value_counts()

NameError: name 'clean_job_df' is not defined