In [7]:
# Dependencies and Setup
import pandas as pd
import requests

# Import API key
from config import g_key

In [8]:
#import location csv
data_path = "output/location.csv"
locations = pd.read_csv(data_path, low_memory = False)
locations.head()

         pets   location  count
0  likes both    alameda    380
1  likes both     albany    117
2  likes both  amsterdam      1
3  likes both    arcadia      1
4  likes both   atherton     17

In [9]:
#create columns for lat and long
locations["Lat"] = ""
locations["Lng"] = ""
locations

           pets             location  count coordinates
0    likes both              alameda    380
1    likes both               albany    117
2    likes both            amsterdam      1
3    likes both              arcadia      1
4    likes both             atherton     17
..          ...                  ...    ...         ...
347       other            sausalito      1
348       other  south san francisco      3
349       other             stanford      6
350       other              vallejo      4
351       other         walnut creek      3

[352 rows x 4 columns]

In [12]:
#google maps api call to get lattitude and longitude data

base_url = "https://maps.googleapis.com/maps/api/place/textsearch/json"
lat = 34.0522
lng = -118.2437
params = {
    "radius": 50000,
    "key": g_key,
    "location": f"{lat},{lng}"
}


for index, row in locations.iterrows():
    
    keyword = row["location"]
    
    params["query"] = f"{keyword}, California"
    
    location_info = requests.get(base_url, params=params)
    
    location_info_json = location_info.json()
    
    print(f"Searching for {keyword}")
    
    try:
        locations.loc[index, "Lat"] = location_info_json["results"][0]['geometry']['location']['lat']
        locations.loc[index, "Lng"] = location_info_json["results"][0]['geometry']['location']['lng']
    
    except (KeyError, IndexError):
        print("Not Found :(")  
    
    print("-----------------------------")

Searching for alameda

ValueError: Must have equal len keys and value when setting with an iterable

In [ ]:
#dataframe including location data
locations

In [5]:
locations = locations.dropna(how='any')
locations.head()

         pets   location  count
0  likes both    alameda    380
1  likes both     albany    117
2  likes both  amsterdam      1
3  likes both    arcadia      1
4  likes both   atherton     17

In [9]:
#export to csv
locations.to_csv('output/locations_with_latlong.csv', index = False)